<header class="navbar navbar-expand-sm navbar-dark">
    <a class="navbar-brand" href="/">
    </a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#nav-items"
            aria-controls="nav-items"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <nav class="collapse navbar-collapse" id="nav-items">
        <ul class="navbar-nav mr-auto">

            {% if app.user %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_product') }}">Товары</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_category') }}">Категории</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_manufacturer') }}">Производители</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_index') }}">Пользователи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">{{ app.user.username }}</a>
            </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="#">World</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sport</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">IT</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Science</a>
                </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_register') }}">Sign In</a>
            </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">/</a>
                </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">Log In</a>
            </li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-md-0" action="" method="get">
{#            <input class="form-control search" type="text" placeholder="Search news...">#}
        </form>

    </nav>
</header>